@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
       This application was developed so we more easily could let system powerusers access general logging information.
    </p>

    <p>
    <a href= https://en.wikipedia.org/wiki/BLT title="Link to wikipedia article about LBT"> LBT Lettuce Bacon and Tomato Sandwich</a> inspired the name Logging Batch and Queue.
    </p>

</article>

<aside>
    <h3>How to find mor information.</h3>
    <p>
        Links.
    </p>
    <ul>
        <li> <a href="http://msdn.microsoft.com/en-us/library/aa392903(v=vs.85).aspx" title="Link to Msdn about WQL and WMI">WQL</a> </li>
        <li><a href="https://en.wikipedia.org/wiki/T-SQL" title="Link to Wiki article about T-SQL">SQL</a> </li>
        <li><a href="http://www.regular-expressions.info/" title="Link to Regexp buddy info site about Reg Exp">Regular expressions</a></li>       
        <li><a href="https://github.com/patriklindstrom/AppEventViewer" title="Link to github code repository">Source code</a></li>
    </ul>
</aside>