@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                With this application can you get an aggregated view for several server of things that happens in the <mark> Windows Eventlog, SqlServer logging tables, text
                logfiles </mark>. It uses quering with <a href="http://msdn.microsoft.com/en-us/library/aa392903(v=vs.85).aspx" title="Link to Msdn about WQL and WMI">WQL</a> 
                ,<a href="https://en.wikipedia.org/wiki/T-SQL" title="Link to Wiki article about T-SQL">SQL</a> 
                and <a href="http://www.regular-expressions.info/" title="Link to Regexp buddy info site about Reg Exp">Regular expressions</a>   to find information. 
                It then filter and merges it soo to display it so it can easily further filtered in the webclient.                       
            </p>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Add servers to search</h5>
       In the webconfig file set the List of servers to query windows applog.     
        <span style="color:red">&lt;add key=</span><span style="color:blue">"ListOfServers"</span> <span style="color:red">value=</span><span style="color:blue">"MyServerNode1,ServerNB"</span><span style="color:red">/&gt;</span>
        <a href="https://github.com/patriklindstrom/AppEventViewer/wiki">Learn more…</a>
    </li>

    <li class="two">
        <h5>Add Searchwords</h5>
        In the webconfig file set the a list of words to be search for in the windows applog.          
         <span style="color:red">&lt;add key=</span><span style="color:blue">"FilterTermList"</span> <span style="color:red">value=</span><span style="color:blue">"TCM_MQ,BatchId,jabberjowitch"</span><span style="color:red">/&gt;</span>
        <a href="https://github.com/patriklindstrom/AppEventViewer/wiki">Learn more…</a>
    </li>

    <li class="three">
        <h5>In this version all is not implmented</h5>
        Search in SQL and Reg exp in textfile are not implemented yet.
        <a href="https://github.com/patriklindstrom/AppEventViewer/wiki">Learn more…</a>
    </li>
</ol>
